<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Propety Show case</a>
  </div>
</nav>



<div class="container">
  <ul class="nav nav-pills nav-justified">
  <li routerLinkActive = "active">
    <a routerLink="/dashboard">Dashboard</a>
  </li>
  <li routerLinkActive = "active">
    <a routerLink="/properties">Property List</a>
  </li>
</ul>

<div style="margin-bottom:10px;"></div>
  <!--<property-listing></property-listing>-->
  <router-outlet></router-outlet>
</div>